/* Стилі для компонента Button */
/* TODO: Базові стилі кнопки */
/* TODO: Варіанти кнопок (primary, secondary, danger) */
/* TODO: Розміри (small, medium, large) */
/* TODO: Стани (hover, active, disabled) */
/* TODO: Стиль для loading стану */