/* TODO: Global styles */
/* TODO: Add CSS reset/normalize */
/* TODO: Define CSS variables for colors, fonts, spacing */
/* TODO: Add base styles for body, headings, links */
/* TODO: Add utility classes */